* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #00CED1;
    --fourth-color: #FF7F00;
}

html, body {
    width: 100vw;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
    background: var(--secondary-color);
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
@media all and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
}
@media all and (min-width: 1200px) {
    .main-header {
        align-items: center;
    }
}

.main-menu {
    font-size: 1.25rem;
    background-color: var(--tertiary-color);
}

.main-menu .menu-wrap {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: visibility 0s, max-height 0.5s ease-in-out;
}

.main-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
@media all and (min-width: 1200px) {
    .main-menu {
        font-size: 1.125rem;
    }

    .main-menu .menu-wrap {
        visibility: visible;
        min-height: 1.125rem;
        max-height: none;
    }

    .main-menu .toggle-menu {
        display: none;
    }

    .main-menu ul {
        flex-direction: row;
flex-wrap: wrap;
width: 100%;
    }

    .main-menu li {
        text-align: center;
    }
}

.main-menu a {
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
}

button,
.main-menu .active > a,
.main-menu a:hover {
    background-color: var(--fourth-color);
}